.dark {
  background-color: #111;
  color: white;
}

.dark input, .dark button {
  background-color: #333;
  color: white;
}

div{
    padding: 10px;
}

.atomion, .netcharge, .atomicmass, .element{
    display: inline-block;
}
